.food-pics{

    display: flex;
    flex-direction: column-reverse;
    max-width: 50%;
    height: auto;
    margin: auto

 
}
body{
    background-color: #000000;
    color: #ffffff
}
header{
    text-align:center;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    height: auto;
 
}
h1{
    text-align: center;
}
img{
    text-align:center;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    height: auto;
 }